// Place all the styles related to the request_applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.unmatch {
  color: red;
}

input.check-all-button {
  margin-right: 10px;
}

.btn-row {
  margin-bottom: 15px
}

input.clicked {
  background-color: #e6e6e6;
}

.panel-inner-row {
  padding: 10px;
}

.new-request-panel {
  padding: 15px 15px 0px;
}

.manual-input-btn {
  margin-top: 12px;
}

.reference-btn {
  margin-left: 10px;
}

.search-btn-row {
  margin-top: 15px;
}

.between-label {
  margin: 0px 6px;
}

.edit-link {
  color: black;
}

.rerun-btn {
  margin-left: 20px;
}
